.catalog {
  background-color: $lightest-grey;
}

.catalog__container {
  padding-top: 50px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 1fr;
    column-gap: 30px;
    padding: 0;
  }
}

.catalog__badge {
  font-family: $font-bold;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: $base-primary;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 4px;
}

.catalog__title {
  font-family: $font-bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.catalog__cards {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0 0 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 349px));
    gap: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 317px));
    gap: 30px;
    margin-bottom: 60px;
  }
}

