.features__container {
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.features__badge {
  margin: 0 0 4px;
}

.features__title {
  margin: 0 0 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 339px);
    column-gap: 30px;
    row-gap: 50px;
    text-align: left;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 318px);
    text-align: center;
  }
}

.features__item {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;;
    text-align: center;
    padding-bottom: 0;
  }
}

.features__item-description {
  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.features__item-title {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.features__item-text {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.feature__icon-wrapper {
  margin: 0 auto;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.feature__icon {
  width: 52px;
  height: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
}


